<p>
	<span class="largest"><%= link_to 'Calvin Klein Underwear', :controller => 'giftlists', :action => 'new', :search => 'Calvin Klein Underwear' %></span>
	<span class="smallest"><%= link_to 'Scalextric', :controller => 'giftlists', :action => 'new', :search => 'Scalextric' %></span>
	<span class="small"><%= link_to 'Tefal Toaster', :controller => 'giftlists', :action => 'new', :search => 'Tefal' %></span>
	<span class="large"><%= link_to 'Cuddly Toy', :controller => 'giftlists', :action => 'new', :search => 'Cuddly Toy' %></span>
	<span class="medium"><%= link_to 'Breville Toaster', :controller => 'giftlists', :action => 'new', :search => 'Breville' %></span>
	<span class="large"><%= link_to "Men's Toys", :controller => 'giftlists', :action => 'new', :search => 'Toys' %></span>
	<span class="large"><%= link_to 'Her Jewellery', :controller => 'giftlists', :action => 'new', :search => 'Her Jewellery' %></span>
	<span class="largest"><%= link_to 'Wedding Ring', :controller => 'giftlists', :action => 'new', :search => 'Wedding Ring' %></span>
</p>
